body{
    background-color: #662222;
    color: #F5DAA7;
}

header{
    background-color: #842A3B;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    border: #A3485A solid 5px; 
} 

#introduction{
    background-color: #842A3B;
    font-size: 20px;
    text-align: left;
    padding: 20px;
    margin: 10px;
    border: #A3485A solid 5px;

}

 #series, #standalones, #quiz{
    background-color: #842A3B;
    border: #A3485A solid 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    button{
        background-color: #A3485A;
        padding: 10px 20px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px;
        border: #F5DAA7 solid 2px;
    }
    button a{
        color: #F5DAA7;
    }

    button:hover{
        background-color: #F5DAA7;
        a{
            color:#662222;
        }
    }
 }

footer{
    color:#F5DAA7;
    text-align: center;
    font-size: 15px;
    a{
        color: #F5DAA7;
    }
}


#books{
    background-color: #842A3B;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    border: #A3485A solid 5px;
    text-align: center;
    img{
        margin: 5px;
        border: #F5DAA7 solid 2px;
    }
}

#characters, #quotes, #getbook, #characterspics{
    background-color: #842A3B;
    font-size: 20px;
    margin: 10px;
    padding: 20px;
    border: #A3485A solid 5px;
}

#getbook button{
    border: #F5DAA7 solid 2px;
    color: #F5DAA7;
}

#getbook button:hover{
    background-color: #F5DAA7;
    border: #A3485A solid 2px;
    a{
        color: #A3485A;
    }
}

#home button{
    border: #F5DAA7 solid 2px;
    color: #F5DAA7;
}
#home button:hover{
    background-color: #F5DAA7;
    border: #A3485A solid 2px;
    a{
        color: #A3485A;
    }
}

button{
    background-color: #A3485A;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;

    a{
        color:#F5DAA7;
    }
}

#home{
    text-align: center;
}

#quizintro{
    background-color: #842A3B;
    font-size: 20px;
    border: #A3485A solid 5px;
    margin: 10px;
    padding: 20px;
}

#quizqs{
    background-color: #842A3B;
    font-size: 20px;
    border: #A3485A solid 5px;
    margin: 10px;
    padding-left: 20px;
    padding-bottom: 20px;

    button{
        border: #F5DAA7 solid 2px;
        color: #F5DAA7;
    }

    button:hover{
        background-color: #F5DAA7;
        color: #A3485A;
        border: #A3485A solid 2px;
    }
}

body{
    background-color: #842A3B;
}

/*color palette: https://colorhunt.co/palette/662222842a3ba3485af5daa7 */